@page
@model AuthServer.Pages.ErrorModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<h1 class="text-danger">Error</h1>
<p class="text-danger">An error occurred</p>
</body>
</html>

