@page

@model AuthServer.Pages.ResetPasswordModel
@{




}


<div class="container">
    <form method="post">
        @Html.AntiForgeryToken();

        <div class="row">
            <div class="col">
                <h1>Reset password</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </div>
    </form>
</div>



